
<nav class="navbar bg-primary fixed-top">
  <div class="container1">
    <i class="bi bi-clipboard2-data" style=" padding-left: 60px;">
    <a class="navbar-brand" href="/" style="color: aliceblue; font-weight: 600;  ">
      Oryumon
    </a>
</i>
  </div>
</nav>
