<nav class="navbar bg-primary">
    <div class="container">
      <a class="navbar-brand " href="/" style="color: aliceblue;">
        <img src="/img/firebase-icon.png" alt="Firebase" width="30" height="24">
        CRUD Firebase
      </a>
    </div>
  </nav>