<%- include("../templates/index")%> <%- include("../templates/menu")%>
<div class="container mt-5">
  <form action="/nuevousuario" method="post" enctype="multipart/form-data">
    <!--enctype para enviar archivos binarios-->
    <div class="card">
      <div class="card-header">
        <h3>Nuevo Usuario</h3>
      </div>
      <div class="card-body">
        <input
          class="form-control mb-3"
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Nombre"
          autofocus
          autocomplete="name"
        />
        <input
          class="form-control mb-3"
          type="text"
          name="usuario"
          id="usuario"
          placeholder="Usuario"
        />
        <input
          class="form-control mb-3"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          autocomplete="current-password"
        />
        <input
          class="form-control mb-3"
          type="number"
          name="edad"
          id="edad"
          placeholder="edad"
          min="13"
          max="99"
        />
        <input 
        class="form-control mb-3" 
        type="file" 
        name="foto" 
        id="foto" 
        />
      </div>
      <div class="card-footer">
        <button class="form control btn btn-success" type="submit">
          <i class="bi bi-check-circle"></i> Guardar
        </button>
        <a href="/" class="btn btn-secondary"
          ><i class="bi bi-arrow-bar-left"></i> Cancelar</a
        >
      </div>
    </div>
  </form>
</div>
<%- include("../templates/pie")%>
